# LCB environment example
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=lcb
POSTGRES_USER=lcb
POSTGRES_PASSWORD=lcbpass

# App config
LCB_BIND_HOST=0.0.0.0
LCB_BIND_PORT=8000
LCB_ADMIN_SECRET=changeme-in-prod